* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-container{
  display: grid;
  height: 100vh;
  padding: 30px;
  background-color: rgb(21, 21, 59);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
   "nav nav nav"
   "tit1 tit3 tit4"
   "tit2 tit3 tit5"
   "tit2 tit3 tit6";
}

.nav {
   margin-top: 20px;
   background-color: #fff;
   grid-area: nav;
}

.title-1 {
  background-color: #fff;
  grid-area: tit1;
}
.title-2 {
  background-color: #fff;
  grid-area: tit2;
}

.title-3 {
  background-color: #fff;
  grid-area: tit3;
}
.title-4 {
  background-color: #fff;
  grid-area: tit4;
}
.title-5 {
  background-color: #fff;
  grid-area: tit5;
}
.title-6 {
  background-color: #fff;
  grid-area: tit6;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .full-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "nav nav"
     "tit1 tit4"
     "tit2 tit5"
     "tit2 tit6"
     "tit3 null";
  }
}

@media only screen and (max-width: 500px) {
  .full-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "nav"
     "tit1"
     "tit2"
     "tit3"
     "tit4"
     "tit5"
     "tit6";
  }
}
