$colors:(
    b200: #0084F8,
    d400: #001B36,
    white: #FFFFFF,
    b100: #58C2F1,
    r100: #FF8576,
    g100: #47C2B1,
    d100: #F0F5F9,
    d200: #C9D6DF,
    d300: #52616B,
);

@for $border-weight from 1 through 10 {
  @each $key,$value in $colors {
    .border-#{$key}-#{$border-weight}{
      border: $border-weight+px $value solid;
    }
  }
}


