$primary: #0084F8;
$default: #FFFFFF;
$success: #58C2F1;
$disabled:#aaa8a8;
$delete: #FF8576;

.btn-shared {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background-color: $default;
  border-bottom:$disabled 2px solid;
  margin: 10px
}
 
.container {
  margin: auto;
  width: 800px;
  height: 70%;
  text-align: center;
    .btn {
      @extend .btn-shared;
      &-primary {
        @extend .btn-shared;
        background-color: $primary;
        color: $default;
        border: none;
      };
      &-secondary {
        @extend .btn-shared;
        background-color: $default;
        color: $primary;
        border: 1px $primary solid;
      }

      &-disabled {
        @extend .btn-shared;
        background-color: $disabled;
        color: $default;
      }

      &-success {
        @extend .btn-shared;
        background-color: $success;
        color: $default;
        border: none;
      }

      &-delete {
        @extend .btn-shared;
        background-color: $delete;
        color: $default;
      }
    
    }
}




